/* -------------------- GENERAL STYLES -------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    color: #212329;
    background-color: #E5E5E5;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #C61B09;
    cursor: pointer;
}

a p {
    margin-bottom: 0;
}

.background-color-black {
    background-color: #212329;
}

.background-color-orange {
    background-color: #FF9C00;
}

.color-orange {
    color: #FF9C00;
}

.color-red {
    color: #C61B09;
}

/* -------------------- NAV STYLES -------------------------- */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* -------------------- HEADER STYLES -------------------------- */

.header-image {
    width: 100%;
    object-fit: cover;
}
    
.header-temporada-container {
    position: absolute;
    max-width: 450px;
    padding: 2rem;
    bottom: -12%;
    right: 5%;
}
    
.header-link {
    font-family: 'Josefin Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-link p {
    margin-bottom: 0;
    margin-right: 10px;
}

/* -------------------- HEADER RESPONSIVE -------------------------- */

@media (max-width: 576px) {
    
    .header-temporada-container {
        max-width: 100%;
        width: 100%;
        padding: 2rem;
        position: static;
    }
}

/* -------------------- ABOUT US STYLES -------------------------- */

.about-us-link {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* -------------------- SOCIAL STYLES -------------------------- */

.social-container {
    height: 200px;
    width: 75%;
}

.social-text {
    margin-bottom: 0;
}

.social-links-container {
    width: 40%;
    position: absolute;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    bottom: -65px; 
    right: 50px;
}

/* -------------------- SOCIAL RESPONSIVE -------------------------- */

@media (max-width: 768px) {
    .social-container {
        height: auto;
        width: 100%;
    }

    .social-links-container {
        width: 100%;
        position: static;
    }
}

/* -------------------- WHO WE ARE STYLES -------------------------- */

.who-we-are-image {
    transform: translate(10%, -50%);
    object-fit: fit-content;
}

/* -------------------- WHO WE ARE RESPONSIVE -------------------------- */

@media (max-width: 1000px) {
    .who-we-are-image {
        transform: translate(30%, -35%);
        object-fit: fit-content;
      
    }
}

@media (max-width: 768px) {
    .who-we-are-image {
        transform: translate(50%, -15%);
        width: 75%;
    }
}

/* -------------------- LEARNING STYLES -------------------------- */



